/cypress
/node_modules
/resources
/test
/.babelrc
/.eslintignore
/.eslintrc
/.eslintrc.json
/.gitignore
/.madgerc
/.stylelintrc.json
/.travis.yml
/cypress.json
/yarn.lock
/tsconfig.json
/webpack.config.js