.textarena-container {
  position: relative;
  border: none;
  line-height: 1.6em;
}
.textarena-container:hover, .textarena-container:active, .textarena-container:focus {
  border: none;
}
.textarena-container h1 {
  font-size: 3rem;
  font-weight: bold;
  min-height: 1.6em;
}
.textarena-container h2 {
  font-size: 2rem;
  font-weight: bold;
  min-height: 1.6em;
}
.textarena-container h3 {
  font-size: 1.5rem;
  font-weight: bold;
  min-height: 1.6em;
}
.textarena-container h4 {
  font-size: 1rem;
  font-weight: bold;
  min-height: 1.6em;
}
.textarena-container h5 {
  font-size: 1rem;
  font-weight: normal;
  min-height: 1.6em;
}
.textarena-container h6 {
  font-style: italic;
  font-size: 1rem;
  font-weight: normal;
  min-height: 1.6em;
}
.textarena-container h1,
.textarena-container h2,
.textarena-container h3,
.textarena-container h4,
.textarena-container h5,
.textarena-container h6 {
  line-height: 1.2em;
  margin: 1em 0 0.5em;
}
.textarena-container h1:first-child,
.textarena-container h2:first-child,
.textarena-container h3:first-child,
.textarena-container h4:first-child,
.textarena-container h5:first-child,
.textarena-container h6:first-child {
  margin-top: 0;
}
.textarena-container p {
  font-size: 1rem;
  margin: 0 0 1em;
  min-height: 1.6em;
}
.textarena-container p:last-child {
  margin-bottom: 0;
}
.textarena-container ul,
.textarena-container ol {
  font-size: 1rem;
  padding-left: 1rem;
}
.textarena-container li {
  margin: 0 0 1em;
}
.textarena-container hr {
  display: inline-block;
  width: 100%;
  margin: 0.4em 0 0.4em;
  padding: 0;
}
.textarena-container blockquote {
  background: #ececec;
  padding: 1em;
  margin: 0 0 1em;
  min-height: 1.6em;
}
.textarena-container blockquote:last-child {
  margin-bottom: 0;
}

.textarena-creator {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 1.2rem;
  height: 1.6rem;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  transition: 0.3s;
  overflow: hidden;
}
.textarena-creator_active {
  width: 100%;
  z-index: 1;
}
.textarena-creator__create-button {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  border: 1px solid #888;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
  background: none;
  box-sizing: border-box;
}
.textarena-creator__create-button svg {
  width: 100%;
  fill: #888;
}
.textarena-creator__create-button:hover, .textarena-creator__create-button:focus, .textarena-creator__create-button:active {
  outline: none;
  border: 1px solid #000;
}
.textarena-creator__create-button:hover svg, .textarena-creator__create-button:focus svg, .textarena-creator__create-button:active svg {
  fill: #000;
}
.textarena-creator_active .textarena-creator__create-button {
  transform: rotate(135deg);
}
.textarena-creator__placeholder {
  visibility: visible;
  opacity: 0.2;
  user-select: none;
  pointer-events: none;
  transition: 0.3s;
  width: 0;
  white-space: nowrap;
}
.textarena-creator_active .textarena-creator__placeholder {
  opacity: 0;
}
.textarena-creator__list {
  padding-left: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
  opacity: 0;
}
.textarena-creator_active .textarena-creator__list {
  flex-direction: row;
  opacity: 1;
}
.textarena-creator__item {
  display: flex;
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid #888;
  color: #888;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  background: none;
  margin-right: -1.4rem;
  box-sizing: border-box;
}
.textarena-creator__item:hover, .textarena-creator__item:focus, .textarena-creator__item:active {
  outline: none;
  border: 1px solid #000;
  color: #000;
}
.textarena-creator__item:hover svg, .textarena-creator__item:focus svg, .textarena-creator__item:active svg {
  fill: #000;
}
.textarena-creator_active .textarena-creator__item {
  margin-right: 0.5rem;
}
.textarena-creator__hint {
  position: absolute;
  left: 50%;
  top: -17%;
  display: none;
  width: 16px;
  height: 16px;
  background-color: #333;
  text-align: center;
  line-height: 16px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #999;
}
.textarena-creator__item_show-hint .textarena-creator__hint {
  display: block;
}

.textarena-editor {
  position: relative;
  border: none;
  padding: 0.1rem 1.2rem;
  font-size: 1rem;
}
.textarena-editor:hover, .textarena-editor:active, .textarena-editor:focus {
  border: none;
  outline: none;
}
.textarena-editor figure {
  overflow: auto;
  resize: both;
  border: 1px solid black;
}
.textarena-editor figure img {
  max-width: 100%;
}

.textarena-toolbar {
  position: absolute;
  z-index: 1;
}
.textarena-toolbar__pointer {
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #333;
  z-index: -1;
}
.textarena-toolbar_bottom {
  transform: translate(0, 15px);
}
.textarena-toolbar_bottom .textarena-toolbar__pointer {
  top: -7px;
}
.textarena-toolbar_top {
  transform: translate(0, -15px);
}
.textarena-toolbar_top .textarena-toolbar__pointer {
  bottom: -7px;
}
.textarena-toolbar__list {
  display: flex;
  flex-wrap: wrap;
  color: #ccc;
  box-shadow: 0 8px 23px -6px rgba(21, 40, 54, 0.31), 22px -14px 34px -18px rgba(33, 48, 73, 0.26);
  border-radius: 4px;
  background-color: #333;
  z-index: 2;
  user-select: none;
}
.textarena-toolbar__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  font-weight: 900;
  font-family: monospace;
  cursor: pointer;
  margin: 4px 4px 4px 0;
}
.textarena-toolbar__item:first-child {
  margin-left: 4px;
}
.textarena-toolbar__item_active {
  color: #fff;
  box-shadow: inset -1px -1px 0 0 rgba(255, 255, 255, 0.4);
  background: #1a1a1a;
}
.textarena-toolbar__hint {
  position: absolute;
  left: 50%;
  top: -17%;
  display: none;
  width: 16px;
  height: 16px;
  background-color: #333;
  text-align: center;
  line-height: 16px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #999;
}
.textarena-toolbar__item_show-hint .textarena-toolbar__hint {
  display: block;
}