h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2em;
  margin: 1em 0 0.5em;
  &:first-child {
      margin-top: 0;
  }
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-weight: normal;
  font-size: 1rem;
}
h6 {
  font-weight: normal;
  font-style: italic;
  font-size: 1rem;
}
p {
  font-size: 1rem;
  line-height: 1.2em;
  margin: 0 0 1em;
}