*, ::after, ::before {
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

h5 {
  font-size: 1em;
  font-weight: normal;
}

h6 {
  font-style: italic;
  font-size: 1em;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2em;
  min-height: 1.2em;
  margin: 1em 0 0.5em;
  padding: 0;
}

h1:first-child {
  margin-top: 0;
}

h2:first-child {
  margin-top: 0;
}

h3:first-child {
  margin-top: 0;
}

h4:first-child {
  margin-top: 0;
}

.paragraph {
  font-size: 1em;
  margin: 0 0 1em;
  padding: 0;
  min-height: 1.6em;
}

.paragraph:last-child {
  margin-bottom: 0;
}

/* ul,
ol {
  font-size: 1em;
  padding-left: 2rem;
  margin: 0;
}

li {
  margin: 0 0 1em;
  padding-left: 0.1em;
} */

ul, ol {
  /* width: 100%; */
  margin: 1em 0 0 1em;
  line-height: inherit;
  list-style-position: inside;
  padding: 0;
}
ul:first-child, ol:first-child {
  margin-top: 0;
}
ul, ol > ul, ol {
  margin-top: 0;
}
li {
  width: 100%;
  line-height: inherit;
  min-height: 1em;
  margin-bottom: 0.5em;
  position: relative;
}

ul {
  /* list-style: none; */
}
/* ul > li::before {
  content: '';
  position: absolute;
  top: calc(0.5em + 1px);
  left: 0;
  width: 9px;
  height: 9px;
  background-color: currentColor;
  border-radius: 10em;
  margin-left: -1em;
} */
ul {
  list-style-type: disc;
}
ul > ul {
  list-style-type: circle;
}
ul > ul > ul {
  list-style-type: square;
}

ol {
  counter-reset: numberList;
  list-style: none;
}
ol > li {
  position: relative;
  counter-increment: numberList;
}
ol > li::before {
  content: counter(numberList) '.';
  position: absolute;
  right: 100%;
  padding-right: 1em;
}
ol > ol {
  counter-reset: numberList2;
  list-style: none;
}
ol > ol > li {
  position: relative;
  counter-increment: numberList2;
}
ol > ol > li::before {
  content: counter(numberList2, lower-alpha) ')';
  position: absolute;
  right: 100%;
  padding-right: 1em;
}
ol > ol > ol {
  counter-reset: numberList3;
  list-style: none;
}
ol > ol > ol > li {
  position: relative;
  counter-increment: numberList3;
}
ol > ol > ol > li::before {
  content: counter(numberList3, lower-roman) '.';
  position: absolute;
  right: 100%;
  padding-right: 1em;
}
ol > ol > ol > ol {
  list-style-type: decimal;
}
ol > ol > ol > ol > li::before {
  display: none;
}

/* ol {
  list-style-type: decimal;
}
ol > ol {
  list-style-type: lower-alpha;
}

ol > ol > ol {
  list-style-type: lower-roman;
}

ol > ol > ol > ol {
  list-style-type: lower-latin;
}

ol > ol > ol > ol > ol {
  list-style-type: decimal;
} */

hr {
  display: block;
  user-select: none;
  width: 100%;
  margin: 0 0 1em;
  background: #ccc;
  border: 0;
  height: 1px;
  position: relative;
  overflow: visible;
}
hr.asterisk {
  background: none;
  height: 1em;
}
hr.asterisk::after {
  content: "***";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
}

blockquote {
  position: relative;
  margin: 0 0 1em;
  padding-left: 1.5em;
  min-height: 1.6em;
  border: none;
  font-size: 1.4em;
  font-style: italic;
}
blockquote::before {
  content: "";
  width: 0.2em;
  /* border-radius: 0.2em; */
  background-color: #e7e7e7;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

blockquote:last-child {
  margin-bottom: 0;
}

.aside {
  display: block;
  background: white;
  border: 1px solid black;
  /* border-radius: 1rem; */
  padding: 1rem;
  margin: 0 0 1em;
}
.aside:last-child {
  margin-bottom: 0;
}

.aside-gray {
  border: 1px solid #ccc;
}

.quote-block {
  display: block;
  background: white;
  border: 1px solid #ccc;
  /* border-radius: 1rem; */
  padding: 1rem;
  margin: 0 0 1em;
}
.quote-block__line {
  display: flex;
  align-items: center;
  margin: 0.3rem 0.3rem 0.5rem ;
}
.quote-block__author-block {
  flex: 1;
  margin-right: 1rem;
}
.quote-block__image {
  width: 100px;
  height: 100px;
}
.quote-block__author {
  display: block;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  width: 100%;
}
.quote-block__role {
  display: block;
  font-size: 0.8em;
  font-style: normal;
  text-align: left;
  width: 100%;
}
.quote-block__body {
  display: block;
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .quote-block__line {
    flex-direction: column-reverse;
  }
  .quote-block__image {
    width: 200px;
    height: 200px;
  }
}

figure {
  margin: 0 0 1em;
  padding: 0;
}
picture {
  display: block;
  width: 100%;
  overflow: hidden;
}
img {
  max-width: 100%;
  display: block;
  border: none;
  /* border-radius: 1rem; */
}

.place-center picture {
  width: 100%;
  padding-top: 54.3478%;
  position: relative;
}
.place-center img {
  position: absolute;
  inset: 0px;
  margin: auto;
  width: auto;
  height: 100%;
  transform: translateX(-50%);
  left: 50%;
}

.place-fill,
.place-only_original {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.place-fill img {
  display: block;
  width: 100%;
}

.place-wide {
  margin-left: -2em;
  margin-right: -2em;
}
@media screen and (max-width: 1441px) {
  .place-wide {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
.place-wide picture {
  width: 100%;
  padding-top: 54.3478%;
  position: relative;
}
.place-wide img {
  position: absolute;
  inset: 0px;
  margin: auto;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%);
  left: 50%;
  /* border-radius: 0; */
}

arena-image {
  display: contents;
  width: 100%;
  /* border-radius: 0.2em; */
  border: none;
  /* border-radius: 1rem; */
}
.place-wide arena-image {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  /* border-radius: 0; */
}
.place-center arena-image {
  object-fit: cover;
  height: 100%;
  width: auto;
  overflow: hidden;
}
.place-fill arena-image {
  width: 100%;
}

figcaption {
  color: inherit;
  width: 100%;
  font-size: 0.75em;
  margin-top: 0.15em;
  opacity: .7;
  font-style: italic;
}
figcaption:focus-visible {
  outline: none;
}

mark {
  border-radius: 0.2em;
  padding: 0;
  background-color: #efff93;
  line-height: inherit;
}

pre {
  font-family: PT Mono,monospace;
  padding: 10px 0;
  white-space: initial;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.aside-fill {
  padding: 1em;
  margin: 0 0 1em;
  border-radius: 0.25em;
  line-height: 1.3;
}

.aside-fill-grey {
  background-color: #f3f3f3;
}

.aside-fill-purple {
  background-color: #f7eeff;
}

.aside-fill-orange {
  background-color: #ffe3db;
}

arena-embed {
  user-select: none;
}

arena-embed-simple {
  display: block;
  position: relative;
  margin: 0 0 1em;
  min-height: 1.6em;
  min-height: 10em;
  overflow: hidden;
}

arena-embed-simple blockquote {
  padding: 0;
  margin: 0;
  border: none;
}

.embed-youtube {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  margin: 0 0 1em;
  background: #ccc;
  overflow: hidden;
}

.embed-youtube-iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: none;
  min-width: 100%;
  width: 0;
  max-width: 100%;
  min-height: 100%;
  height: 0;
  max-height: 100%;
}

arena-two-columns-col {
  width: 50%;
  padding: 1px 1em;
  min-height: 2em;
  border-right: 1px solid #ccc;
}
arena-two-columns-col:last-child {
  border-right: none;
}
arena-two-columns-col > *:last-child {
  margin-bottom: 0;
}


.arena-two-col {
  display: flex;
  min-height: 2em;
  margin-bottom: 1em;
}
.arena-col {
  width: 50%;
  padding: 0 1em;
  border-right: 1px solid #ccc;
}
.arena-col:last-child {
  border-right: none;
}
@media screen and (max-width: 600px) {
  .arena-two-col {
    display: contents;
  }
  .arena-col {
    width: 100%;
    padding: 0;
    border-right: none;
  }
}

.arena-col > *:last-child {
  margin-bottom: 0;
}

roadmap {
  font-size: 1.5em;
  display: block;
}
roadmap p.paragraph {
  padding: 1em 1em 1em 2em;
  margin-left: 2em;
  margin-bottom: 0;
  position: relative;
}
roadmap p.paragraph::before {
  content: '';
  position: absolute;
  width: 0.2em;
  background: #ccc;
  top: 0;
  left: 0;
  bottom: 0;
}
roadmap p.paragraph:first-child::before {
  top: 50%;
}
roadmap p.paragraph:last-child::before {
  bottom: 50%;
}
roadmap p.paragraph::after {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  background: white;
  border: 0.15em solid #a5c9fd;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(-0.4em, -0.5em);
}

code {
  background: #f4dbeb;
  border-radius: 0.2em;
  padding: 0.1em;
  font-family: monospace;
}

table, arena-table {
  margin: 0 0 1em;
}

arena-td, td {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
}

arena-td {
  min-width: 4em;
}


.black-back {
  background: #33393e;
  color: white;
  padding: 2em;
  margin: 0 -2em;
}


.black-back > *:last-child {
  margin-bottom: 0;
}

arena-back-image,
.arena-back-image {
  display: block;
  background: #33393e;
  color: white;
  padding: 2em;
  margin: 0 -2em;
  position: relative;
}
.arena-back-image-body {
  z-index: 1;
  position: relative;
}
.arena-back-image-img img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}
