.textarena-toolbar__list {
  background-color: #dadada45;
  backdrop-filter: blur(20px);
  padding: 0.2em;
}
.textarena-toolbar__item {
  margin: 0.1em;
  padding: 0.2em 0;
  border-radius: 0.3em;
  background-color: none;
  color: #4a4a4a;
}
.textarena-toolbar__item:hover {
  background: white;
  color: black;
}
.textarena-toolbar__item:first-child {
  margin-left: 0.1em;
}
.textarena-toolbar__item_active {
  color: #fff !important;
  box-shadow: none;
  background: #00000082;
}
.textarena-toolbar__item_active:hover {
  background: #00000062;
  color: #fff !important;
}
.textarena-toolbar__pointer {
  display: none;
}