.textarena-container {
  position: relative;
  border: none;
  line-height: 1.6em;

  &:hover,
  &:active,
  &:focus {
    border: none;
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
    min-height: 1.6em;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    min-height: 1.6em;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    min-height: 1.6em;
  }

  h4 {
    font-size: 1rem;
    font-weight: bold;
    min-height: 1.6em;
  }

  h5 {
    font-size: 1rem;
    font-weight: normal;
    min-height: 1.6em;
  }

  h6 {
    font-style: italic;
    font-size: 1rem;
    font-weight: normal;
    min-height: 1.6em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2em;
    margin: 1em 0 0.5em;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    font-size: 1rem;
    margin: 0 0 1em;
    min-height: 1.6em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    font-size: 1rem;
    padding-left: 1rem;
  }

  li {
    margin: 0 0 1em;
  }

  hr {
    display: inline-block;
    width: 100%;
    // height: 0.5rem;
    margin: 0.4em 0 0.4em;
    padding: 0;
    // border: none;
    // border-bottom: 1px solid black;
  }

  blockquote {
    background: #ececec;
    padding: 1em;
    margin: 0 0 1em;
    min-height: 1.6em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
