.textarena-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: sticky;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 1em;
  font-size: 0.8em;
  font-style: italic;

  > * {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.textarena-typograf {
  background: white;
  border: 1px solid gray;
  white-space: nowrap;

  &:hover {
    border-color: black;
  }
}

.textarena-help {
  background: white;
  border: 1px solid gray;
  border-radius: 2em;
  width: 2em;
  min-width: 2em;
  height: 2em;
  line-height: 2em;
  margin: 0;
  padding: 0;

  &:hover {
    border-color: black;
  }
}

.textarena-help-wrap {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
}

.textarena-help-popup {
  position: relative;
  border: 1px solid gray;
  border-radius: 1em;
  padding: 2rem;
  font-size: 1rem;
  background: white;
  max-width: 800px;
  margin: 1rem auto;

  &:hover {
    .textarena-help-close {
      display: block;
    }
  }
}

.textarena-help-close {
  user-select: none;
  display: none;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  background: white;
  padding: 1em;
  border-radius: 2em;
  width: 3em;
  height: 3em;
  color: #888;
  cursor: pointer;
  z-index: 100;
  border: none;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
