.textarena-creator {
  position: absolute;
  // bottom: 0;
  left: 0;
  z-index: 20;
  // width: 1.2em;
  // height: 1.6em;
  flex-direction: row;
  box-sizing: border-box;
  align-items: start;
  transition: 0.3s;
  font-size: 1rem;
  width: 100%;
  pointer-events: none;
  // overflow-x: hidden;
  // overflow-y: visible;

  &_active {
    width: 100%;
    z-index: 1;
  }

  &__create-button-wrapper {
    display: block;
    display: flex;
    align-items: center;
  }

  &__create-button {
    pointer-events: all;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding: 0 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2em;
    min-width: 1.2em;
    height: 1.2em;
    border: 0.05em solid #888;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
    background: none;
    box-sizing: border-box;
    font-size: 1em;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      border: 0.05em solid #000;
    }

    svg {
      width: 100%;
      fill: #888;
    }
  }

  &_active &__create-button {
    transform: rotate(135deg);
  }

  &__placeholder {
    visibility: visible;
    opacity: 0.2;
    user-select: none;
    pointer-events: none;
    transition: 0.3s;
    width: 0;
    white-space: nowrap;
  }

  &_active &__placeholder {
    // left: 60px;
    opacity: 0;
  }

  &__list {
    padding-left: 0.5em;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    opacity: 0;
    flex-direction: row;
    margin-left: -100em;
    font-size: 1em;
  }

  &_active &__list {
    margin-left: 0;
    flex-direction: row;
    opacity: 1;
  }

  &__item {
    pointer-events: all;
    display: flex;
    position: relative;
    min-width: 2em;
    height: 2em;
    border: 0.05em solid #888;
    color: #888;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // transition: 0.3s;
    margin-right: -1.4em;
    padding: 0.4em;
    box-sizing: border-box;
    background: white;
    margin-bottom: 0.2em;
    font-size: 1em;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      border-color: #000;
      color: #000;
    }
  }

  &__item-icon {
    font-size: 0.8em;
    display: flex;
    justify-content: center;

    svg {
      // width: 60%;
      height: 1rem;
    }
  }

  &_active &__item {
    margin-right: 0.5em;
  }

  &__hint { @include key; }

  &__item_show-hint &__hint {
    display: block;
  }
}
