.textarena-creator {
  position: absolute;

  // bottom: 0;
  left: 0;
  z-index: 20;

  // width: 1.2em;
  // height: 1.6em;
  flex-direction: row;
  box-sizing: border-box;
  transition: 0.3s;
  width: 100%;
  pointer-events: none;
  align-items: center;

  // overflow-x: hidden;
  // overflow-y: visible;

  &:hover .textarena-shortcut-hint-short {
    display: none;
  }

  &_active {
    width: 100%;
    z-index: 1;
  }

  &__create-button-wrapper {
    display: block;
    display: flex;
    height: 2em;
    align-items: center;
  }

  &__create-button {
    pointer-events: all;
    margin: 0;
    padding: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    min-width: 1.5em;
    height: 1.5em;
    border: 0;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.3s;
    background: none;
    box-sizing: border-box;
    font-size: 1em;
    color: #888;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      color: black;
      background: white;

      // border: 0.05em solid #000;
    }

    svg {
      width: 100%;

      // fill: #888;
    }
  }

  &_active &__create-button {
    transform: rotate(225deg);
  }

  &__placeholder {
    visibility: visible;
    user-select: none;
    pointer-events: none;
    transition: 0.3s;
    width: 0;
    white-space: nowrap;
    font-size: 0.7em;
    padding-left: 0.5em;
    color: #c9c9c9;
  }

  &_active &__placeholder {
    // left: 60px;
    opacity: 0;
  }

  &__list {
    padding-left: 0.5em;
    display: flex;
    flex-flow: row wrap;
    transition: 0.3s;
    opacity: 0;
    margin-left: -100vw;
    font-size: 1em;
  }

  &_active &__list {
    margin-left: 0;
    flex-direction: row;
    opacity: 1;
    padding: 0.2em;
    border-radius: 0.7em;
    background: white;

    @supports (backdrop-filter: none) {
      background: rgb(255 255 255 / 72%);
      backdrop-filter: blur(20px);
    }
  }

  &__item {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1.7em;
    height: 1.7em;
    margin: 0.2em;
    margin-right: -1.4em;
    padding: 0.3em;
    cursor: pointer;
    background: none;
    font-size: 1em;
    color: #4e4e4e;
    border: 0;
    border-radius: 0.5em;
    outline: none;
    pointer-events: all;

    &:focus,
    &:active,
    &:hover {
      color: #000;
      outline: none;
      background: #e5e5e573;
    }

    &:focus,
    &:active {
      animation: bounce-in 0.3s 1;
      animation-fill-mode: forwards;
    }

    &:hover {
      .textarena-shortcut-hint-full {
        display: block;
      }
    }
  }

  &__item-icon {
    font-size: 0.8em;
    display: flex;
    justify-content: center;

    svg {
      // width: 60%;
      height: 1em;
    }
  }

  &_active &__item {
    margin-right: 0.2em;
  }

  &__item_show-hint .textarena-shortcut-hint-short {
    display: block;
  }
}

@keyframes bounce-in {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
