.textarena-editor {
  position: relative;
  border: none;
  padding: 0.1rem 2rem;
  font-size: 1rem;
  padding-bottom: 10rem;

  &:hover,
  &:active,
  &:focus {
    border: none;
    outline: none;
  }

  & figure {
    overflow: auto;
    resize: both;
    border: 1px solid black;

    & img {
      max-width: 100%;
    }
  }

  textarena-node {
    display: block;
    position: relative;
    margin: 0 0 1em;
    user-select: none;

    textarena-remove {
      user-select: none;
      display: none;
      position: absolute;
      right: 0.2em;
      top: 0.2em;
      background: white;
      padding: 0.4em;
      border-radius: 0.8em;
      width: 0.8em;
      height: 0.8em;
      color: #888;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    &:hover {
      textarena-remove {
        display: block;
      }
    }
  }
}
