.textarena-editor {
  width: 100%;
  max-width: 100%;
  position: relative;
  border: none;
  padding: 1rem 2rem 10rem;
  font-size: 1rem;

  &:hover,
  &:active,
  &:focus {
    border: none;
    outline: none;
  }

  textarena-node {
    display: block;
    position: relative;
    margin: 0 -2rem 1em;
    padding: 0 2rem 0;
    // user-select: none;

    textarena-remove {
      user-select: none;
      display: none;
      position: absolute;
      right: 0.2em;
      top: 0.2em;
      background: white;
      padding: 0.4em;
      border-radius: 0.8em;
      width: 1.4em;
      height: 1.4em;
      color: #888;
      cursor: pointer;
      z-index: 100;

      svg {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    &:hover {
      background: #00000012;

      textarena-remove {
        display: block;
      }
    }
  }
}
