.textarena-shortcut-hint {
  display: none;
  position: absolute;
  font-family: monospace;
  background-color: #606f85;
  text-align: center;
  line-height: 1.2em;
  color: #fff;
  border-radius: 0.4em;
  z-index: 1;
  padding: 0.1em 0.3em;
  min-width: 1.4em;
  white-space: nowrap;
  font-size: 0.7em;
  // top: -0.9em;
  // right: -0.3em;
  top: calc(100% + 0.3em);
  left: 50%;
  transform: translateX(-50%);

  &::before {
    content: "";
    position: absolute;
    top: -0.3em;
    left: 50%;
    width: 0.4em;
    height: 0.4em;
    transform: rotate(-45deg) translateX(-50%);
    z-index: -1;
    background-color: #606f85;
  }

  &__full {
    display: none;
  }
}
