@mixin key {
  position: absolute;
  left: 55%;
  top: -43%;
  display: none;
  font-size: 0.9em;
  font-family: monospace;
  width: 1em;
  height: 1.2em;
  background-color: #333;
  text-align: center;
  line-height: 1.2em;
  color: #fff;
  border-radius: 0.2em;
  border: 1px solid #999;
  z-index: 1;
}
