.textarena-toolbar {
  position: absolute;
  z-index: 1;
  font-size: 1rem;

  &__pointer {
    position: absolute;
    left: 0;
    width: 0.4em;
    height: 0.4em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #333;
    z-index: -1;
  }

  &_bottom {
    transform: translate(0, 0.4em);
  }

  &_bottom &__pointer {
    top: -0.2em;
  }

  &_top {
    transform: translate(0, -0.4em);
  }

  &_top &__pointer {
    bottom: -0.2em;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    // transform: translateX(-50%);
    color: #ccc;
    box-shadow: 0 8px 23px -6px rgba(21, 40, 54, 0.31), 22px -14px 34px -18px rgba(33, 48, 73, 0.26);
    border-radius: 0.1em;
    background-color: #333;
    z-index: 2;
    // transition: 0.3s;
    user-select: none;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
    margin: 0.1em 0.1em 0.1em 0;
    padding: 0.2em 0;
    box-sizing: border-box;

    &:first-child {
      margin-left: 0.2em;
    }

    &_active {
      color: #fff;
      box-shadow: inset -0.05em -0.05em 0 0 rgba(255, 255, 255, 0.4);
      background: #1a1a1a;
    }
  }

  &__item-icon {
    font-weight: 900;
    font-family: monospace;
    line-height: 0.8em;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    width: 100%;

    svg {
      width: 60%;
      height: 100%;
    }
  }

  &__hint { @include key; }

  &__item_show-hint &__hint {
    display: block;
  }
}
